<%= form_with model: @barber, local: true do |form| %>

<p>
	<%= form.label :photo %><br>
	<%= form.file_field :photo %>
</p>

<p>
	<%= form.label :name %><br>
	<%= form.text_field :name %>
</p>

<p>
	<%= form.label :profession %><br>
	<%= form.text_field :profession %>
</p>

<p>
	<%= form.label :bio %><br>
	<%= form.text_area :bio %>
</p>

<p>
	<%= form.submit 'Create barber' %>
</p>

<% end %>